@layer reset, base, tokens, recipes, utilities;

@layer base {
  html,
  body {
    font-family: var(--font-geist-sans);

    display: flex;
    flex-direction: column;

    height: auto;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --dot-pattern: rgba(0, 0, 0, 0.3);

    --header-height: 4rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --dot-pattern: #333;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }
}

@layer utilities {
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .heading-text {
    font-size: 2.25rem;
    font-size: clamp(2.25rem, 1.5rem + 1.8750000000000002vw, 3rem);
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: -0.025em;
    color: hsl(var(--foreground));

    background: linear-gradient(
      135deg,
      hsl(var(--foreground)) 0%,
      hsl(var(--foreground) / 0.9) 100%
    );
    text-shadow: 0 0 40px hsl(var(--primary) / 0.2);
    background-clip: text;
    position: relative;

    @media (width >= 640px) {
      line-height: 1;
    }
  }

  .sub-heading-text {
    font-size: 1.25rem;
    line-height: 1.625;
    color: hsl(var(--muted-foreground));
  }

  .muted-text {
    color: hsl(var(--muted-foreground));
  }

  .dot-pattern {
    background-image: radial-gradient(var(--dot-pattern) 1px, transparent 0);
    background-size: 20px 20px;
    background-position: 0 0;
  }

  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;

    @media (min-width: 640px) {
      max-width: 640px;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    @media (min-width: 768px) {
      max-width: 768px;
    }

    @media (min-width: 1024px) {
      max-width: 1024px;
      padding-left: 4rem;
      padding-right: 4rem;
    }

    @media (min-width: 1280px) {
      max-width: 1280px;
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }

  .shadow-md {
    --shadow-color: #0000001a;
    --shadow:
      0 4px 6px -1px var(--shadow-color), 0 2px 4px -2px var(--shadow-color);
    --shadow-colored:
      0 4px 6px -1px var(--shadow-color), 0 2px 4px -2px var(--shadow-color);
    box-shadow:
      var(--ring-offset-shadow, 0 0 #0000), var(--ring-shadow, 0 0 #0000),
      var(--shadow);
  }
}
